/*variables*/
:root {
  --main-color: #d5bffd;
  --darknes-color: #7730fb;
}

/*global*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 4.36vw;
  line-height: 1.2;
  font-weight: 400;
  color: var(--darknes-color);

  background: linear-gradient(#fff 62vh, var(--main-color) 38vh);
  background-repeat: no-repeat;
}

body .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.71em;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 100%;
  padding-bottom: 25vw;

  overflow: hidden;
}

.container {
  width: 100vw;
  margin: 0 auto;
  padding: 0 3.125vw;
}

.main-title {
  padding-top: 4.69vw;
  margin-bottom: 7.81vw;

  font-weight: bold;
}

/*accordion*/
.bayan-list {
  display: flex;
  flex-direction: column;
  row-gap: 6.25vw;

  width: 93.75vw;
  margin: auto;
  padding: 6.25vw;

  background-color: #fff;
  border-radius: 3.13vw;
  box-shadow: 0 1.56vw 3.13vw 0 var(--darknes-color);
}

/*accordion item*/
.bayan-card {
  display: flex;
  flex-direction: column;
}

.bayan-card:active {
  opacity: 0.7;
}

.bayan-card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 3.13vw;
  margin-bottom: 3.13vw;

  border-bottom: 0.31vw solid var(--darknes-color);
}

.bayan-card__title {
  font-size: 1.13em;
  font-weight: 400;
  color: #0d061b;
}

.bayan-card__input:checked ~ .bayan-card__wrapper .bayan-card__title {
  color: var(--darknes-color);
}

.bayan-card__icon {
  color: #0d061b;

  background: transparent;
  border: none;

  transform: rotate(0);
  transition: all 0.8s ease;
}

.bayan-card__icon span {
  color: inherit;
}

.bayan-card:active .bayan-card__title,
.bayan-card:active .bayan-card__icon span {
  color: #0d061b;
}

.bayan-card__input:checked ~ .bayan-card__wrapper .bayan-card__icon {
  color: var(--darknes-color);
  transform: rotate(180deg);
}

.bayan-card__img {
  align-self: center;

  width: 79vw;
  height: 0;

  overflow: hidden;
  transition: all 0.8s ease;
}

.bayan-card__img img {
  width: 100%;
  height: auto;
}

.bayan-card__input:checked ~ .bayan-card__img {
  height: 81vw;
}

/*help-selectors*/
.visually-hidden {
  position: absolute;
  visibility: hidden;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  list-style: none;
}

/*breakpoints*/
@media (min-width: 820px) {
  body {
    font-size: 1.95vw;
  }

  .container {
    min-width: 100vw;
    padding: 0 2.44vw;
  }

  .bayan-list {
    row-gap: 2.44vw;
  
    width: 67vw;
    margin: auto;
    padding: 2.44vw;
  
    background-color: #fff;
    border-radius: 1.22vw;
    box-shadow: 0 0.6vw 1.22vw 0 var(--darknes-color);
  }

  .bayan-card__wrapper {
    padding-bottom: 1.22vw;
    margin-bottom: 1.22vw;
  
    border-bottom: 0.12vw solid var(--darknes-color);
  }

  .bayan-card__img {
    width: 50vw;
  }

  .bayan-card__input:checked ~ .bayan-card__img {
    height: 50vw;
    max-height: max-content;
  }
  
}

@media (min-width: 1920px) {
  body {
    font-size: 1.04vw;
  }

  .container {
    max-width: 100vw;
    padding: 0 6.25vw;
  }

  .bayan-list {
    row-gap: 1.04vw;
  
    width: 52vw;
    margin: auto;
    padding: 1.04vw;
  
    background-color: #fff;
    border-radius: 0.52vw;
    box-shadow: 0 0.2vw 0.52vw 0 var(--darknes-color);
  }

  .bayan-card__wrapper {
    padding-bottom: 0.52vw;
    margin-bottom: 0.52vw;
  
    border-bottom: 0.12vw solid var(--darknes-color);
  }

  .bayan-card__img {
    width: 30vw;
  }

  .bayan-list__item:hover .bayan-card__img,
  .bayan-card__input:checked ~ .bayan-card__img {
    height: 30vw;
    max-height: max-content;
  }
}

@media (hover: hover) {

  .bayan-card:hover {
    cursor: pointer;
  }

  .bayan-card__icon {
    opacity: 0;
  }

  .bayan-list:hover .bayan-card__icon {
    opacity: 1;
    color: var(--darknes-color);
  }

  .bayan-list:hover .bayan-card__title {
    color: var(--darknes-color);
  }
  
  .bayan-list__item:hover .bayan-card__icon {
    cursor: pointer;
    transform: rotate(180deg);
  }

  .bayan-list__item:hover .bayan-card__img {
    height: 81vw;
  }

  @media (min-width: 820px) {
    .bayan-list__item:hover .bayan-card__img {
      height: 50vw;
      max-height: max-content;
    }
  }
}